table.timesheet {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 14px;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 500px;

    thead tr {
        background-color: #4bbd7f;
        color: #ffffff;
        text-align: left;
    }

    tfoot tr th div {
        align-items: center;
        display: flex;
        gap: 7px;
        justify-content: flex-end;
    }

    th,
    td {
        padding: 10px 15px;
    }
    tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    tbody tr:nth-of-type(even) {
        background-color: #f6f6f6;
    }
    tbody tr:last-of-type {
        border-bottom: 2px solid #4bbd7f;
    }
    tbody tr.active-row {
        font-weight: bold;
        color: #4bbd7f;
    }
    .edit-cell-container button {
        border-radius: 50px;
        height: 26px;
        width: 26px;
        border: 1px solid #ccc;
    }
    .edit-cell {
        display: flex;
        gap: 5px;
    }
    .edit-cell-action button[name="edit"] {
        color: #ffb918;
    }

    .edit-cell-action button[name="cancel"] {
        color: #7b7b7b;
    }

    .edit-cell-action button[name="done"] {
        color: #4bbd7f;
    }

    .edit-cell-action button[name="remove"] {
        color: red;
        background-color: rgb(230, 208, 208);
    }
    input,
    select {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
    }
    .footer-buttons button {
        border: none;
        background-color: transparent;
    }
    .add-button {
        color: #4bbd7f;
    }
    .edit-cell-action {
        display: flex;
        gap: 5px;
    }
    .edit-cell-container {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 4px;
    }
    input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }
    .remove-button {
        color: #e44747;
    }
}
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

thead tr {
    border-bottom: 1px solid;
}

table.timesheets {
    width: 1200px;
    tr td:nth-child(6) > div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 250px;
    }
    tr td:nth-child(8) > div {
        width: 81px;
        text-align: end;
    }

    tfoot {
      text-align: end;
    }
}
